<!DOCTYPE html>

<head>
    <title>Edit Post Page</title>
</head>

{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Post</h3>
    </div>
</div>

<!-- Submission form to edit or delete the blog post -->
<form method="post">
   
    <div class="row nomargin">
        <div class="col-xs-12">
            <p>content</p>
            <textarea name="content">{{comment.content}}</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="errormsg">
                <p> {{error}} </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <input type="submit" name="action" value="submit">
            <input type="submit" name="action" value="cancel">
            <input type="submit" name="action" value="delete">
        </div>
    </div>

</form>

{% endblock %}