<!DOCTYPE html>

<head>
    <title>Permalink Blogpost Page</title>
</head>

{% extends "base.html" %} {% block content %} 

<!-- Render blog posts on permalink page -->
{{post.render() | safe}}

<div class="row nomargin">
    <div class="col-xs-12">
        <hr class="thin">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% set id = "%s" |format(post.key.id()) %}
        <label class="collapse" for={{id}}>
            <a class="marginright" href="/blog/likepost/{{id}}" aria-hidden="true">Like</a>
            <a class="pointer marginright" aria-hidden="true"> Show Comments ({{ post.comments|length }}) </a>
            <a class="fa-thumbs-o-up marginright" aria-hidden="true">{{post.likes}}</a> 
            {% if post.authorid.id() == uid |int %}
            <a class="float-right" href="/blog/editpost/{{id}}" aria-hidden="true">Delete</a>
            <a class="margin float-right" href="/blog/editpost/{{id}}" aria-hidden="true">Edit</a> 
            {% endif %}
            <a class="float-right" href="/blog/commentpost/{{id}}" aria-hidden="true">Comment</a>
        </label>
        <input id={{id}} type="checkbox">
        <div>
            {% for c in post.comments %}
            {% set id = "%s" |format(c.id()) %}
            <br>
            <p class="postdate">Comment by {{c.get().authorid.get().name}}</p>
            <hr class="thin">
            <p class="marginbot"> {{c.get().render() | safe}} </p>
            <hr class="thin">
            <a class="marginright" href="/blog/likecomment/{{id}}" aria-hidden="true">Like</a>
            <a class="fa-thumbs-o-up marginright" aria-hidden="true">{{c.get().likes}}</a>
            {% if c.get().authorid.id() == uid |int %}
            <a class="float-right" href="/blog/editcomment/{{id}}" aria-hidden="true">Delete</a>
            <a class="margin float-right" href="/blog/editcomment/{{id}}" aria-hidden="true">Edit</a> 
            {% endif %}
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}