* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* fontawesome */
[class*="fa-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* body */
body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin: 0;
}

/* header */
header {
  font-size: 32px;
  display: block;
  background-color: #e5efeb;
}

/* content */
hr {
  background-color: #000;
  height: 2px;
  margin: 5px 0 0;
  width: 100%;
}

td {
  padding: 0 15px 10px 0;
}

ul {
  max-width: 100%;
  margin: 0;
}

h1 {
  margin-top: 10px;
}

h3 {
  margin: 0 5px;
}

p {
  margin: 0 5px;
  font-size: 18px;
}

a {
  display: inline-block;
}

input {
  margin-right: 15px;
}

textarea {
  max-width: 100%;
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

label {
  font-weight: normal;
}

.container {
  max-width: 100%;
  width: 1024px;
  padding: 0 0;
}

.row {
  width: 1024px;
  max-width: 100%;
  margin: 0 0 10px;
}

.lastrow {
  padding: 10px 15px 0 0;
}

.longinput {
  max-width: 100%;
  width: 500px;
  font-size: 20px;
  padding: 2px;
  font-family: monospace;
}

.thin {
  height: 1px;
  margin-bottom: 5px;
}

.float-right {
  float: right;
}

.p {
  display: inline-block;
}

.hr {
  padding: 5px 0 0;
}

.errormsg {
  color: #f00;
}

.postdate {
  color: #ccc;
}

.nomargin {
  margin: 0 0;
}

.margin {
  margin: 0 20px 0 20px;
}

.marginright {
  margin-right: 10px;
}

.marginbot {
  margin-bottom: 10px;
}

/* show comments onclick */
.collapse {
  display: inline-block;
  width: 100%;
}

/* hide the checkboxes */
.collapse + input {
  display: none;
}

.collapse + input + div {
  display: none;
}

.collapse + input:checked + div {
  display: block;
}

.pointer {
  cursor: pointer;
}

/* Media queries */
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  a {
    margin-right: 7px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
